html {
    margin: 10px;
}

div.div-mdn-reference {
    display: inline-block;
    margin: auto;
}

p.p-mdn-reference {
    color: grey;
    font-weight: normal;
    font-style: italic;
    position: relative;
    float: left;
}

span.span-mdn-reference {
    font-weight: bold;
}

a.mdn-reference {
    font-weight: normal;
    font-style: normal;
}

p.p-author {
    color: grey;
    font-style: italic;
    position: relative;
    float: right;
    margin-right: -75%;
}

/* -- all top-level divs -- */
div.div-top-level {
    /* margin: auto auto auto auto; */
    margin: auto;
}

/* -- all top-level ul bullet items -- */
ul.top-level-bullet > li {
    margin: 1% auto;
}

li {
    margin: 1% auto;
}

/* -- HTML pre and code blocks -- */
pre {
    margin: auto auto auto -10%;
    /* margin moved code block left where i wanted it */
    padding: 0%;
}

code {
    color: navy;
    margin: 0% auto;
}

/* -- HTML Section -- */
span.span-source-reference {
    margin: auto;
    color: lightgray;
}

span.span-source-reference > a {
    color: grey;
}

/* -- CSS Section -- */

/* -- JavaScript Section -- */
/* pre.html > code {
    position: relative; left: -200px;
} */