html {
    margin: 10px;
}

div.div-mdn-reference {
    display: inline-block;
    margin: auto;
}

p.p-mdn-reference {
    color: grey;
    font-weight: normal;
    font-style: italic;
    position: relative;
    float: left;
}

span.span-mdn-reference {
    font-weight: bold;
}

a.mdn-reference {
    font-weight: normal;
    font-style: normal;
}

p.p-author {
    color: grey;
    font-style: italic;
    position: relative;
    float: right;
    margin-right: -75%;
}

/* -- all top-level bullet items -- */
li.top-level-bullet {
    padding-bottom: 1%;
}

/* -- HTML Section -- */
span.span-source-reference {
    margin: auto;
    color: lightgray;
}

span.span-source-reference > a {
    color: grey;
}

code {
    color: navy;
    margin: 0px;
    padding: 0px;
}

/* -- CSS Section -- */

/* -- JavaScript Section -- */
/* pre.html > code {
    position: relative; left: -200px;
} */