html {
    margin: 10px;
}

div.div-mdn-reference {
    display: inline-block;
    margin: auto;
}

p.p-mdn-reference {
    color: grey;
    font-weight: bold;
    font-style: italic;
    position: relative;
    float: left;
}

a.mdn-reference {
    font-weight: normal;
    font-style: normal;
}

p.p-author {
    color: grey;
    font-style: italic;
    position: relative;
    float: right;
    margin-right: -80%;
}

code {
    color: navy;
    margin: 0px;
    padding: 0px;
}

/* pre.html > code {
    position: relative; left: -200px;
} */